*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/*Header*/
header img{
    height: 1000px;
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px ;
    object-fit: cover;
}

#cabecera{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}


#cabecera ul{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

#cabecera ul li{
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    
}

#cabecera ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-left: 5px;
}

#titulo{
    position: absolute;
    margin-top: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#cuadro{
    border: 1px solid #05050500;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.404);
    margin-right: 3%;
    border-radius:2% ;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}


#titulo h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: rgb(26, 24, 24);
    align-self: flex-end;
    width: 90%;
    margin-right: 35px;
}

#titulo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color:rgb(26, 24, 24);
    align-self: flex-end;
    width: 90%;
    margin-right: 35px;

}



/*Footer*/
footer{
    background-color: aquamarine;
}

footer ul{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

footer ul li ul{
    display: flex;
    flex-flow: row;
    align-items: center;
   
    width: 20;
}

footer ul li ul img{
    height: 50px;
    width: all;    
    border-radius: 50%;
    margin-left: -10%;
}
footer ul li ul li{
    margin-right: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}